.App {
  max-width: 1040px;
  margin: 0 auto;
}
.Header nav {
  display: flex;
  justify-content: flex-end;
}

.Header nav a {
  color: darkgreen;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  display: block;
  margin: 10px;
  text-decoration: none;
}

.Header nav a:hover {
  color: seagreen;
}

.SignupForm {
  display: flex;
  flex-direction: column;
}
.SignupForm input,
.SignupForm button {
  margin-bottom: 30px;
  max-width: 400px;
  width: 100%;
}

.innerContainer {
  margin-left: 30px;
  display: flex;
  flex-direction: column;
}

.innerContainerHome {
  display: flex;
  flex-direction: column;
}

.innerContainerHome a {
  padding: 0px 30px;
  border: solid 1px;
  text-decoration: none;
  color: seagreen;
}

.innerContainerHome a:hover {
  background-color: lightseagreen;
  color: darkgreen;
}

.emphasis {
  color: lightseagreen;
}

.members {
  display: flex;
  flex-direction: row;
}

.members p {
  padding-right: 5px;
}

.Gallery a {
  padding-top: 30px;
}

label {
  padding-bottom: 10px;
}

button {
  color: seagreen;
  background-color: white;
  border: solid 1px;
  font-size: medium;
  font-weight: bold;
  box-sizing: content-box;
}

button:hover {
  color: darkgreen;
  background-color: lightseagreen;
}

@media screen and (max-width: 640px) {
  .App {
    padding: 0px 25px 25px 25px;
  }
}
